[
  {
    "dbName": "mongoDatabase",
    "dbHost": "localhost:27017/",
    "models": {
      "items": {
        "findOne": {
          "_id": "_id"
        },
        "find": {
          "name": "name",
          "category": "cat"
        },
        "updateOne": {
          "_id": "_id"
        },
        "update": {
          "name": "name"
        },
        "insertOne": {},
        "insert": {},
        "deleteOne": {
          "_id": "_id"
        },
        "delete": {
          "name": "name"
        }
      }
    }
  }
]
